<div class="container todo-container">
  <h1 class="text-center">More Stuff To Do</h1>
  <form role="form" ng-submit="addToDo()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="todo" class="form-control" palceholder="what needs to be done">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
      </div>
    </div>
  </form>
  <div ui-sortable ng-model="todos">
    <p class="input-group items" ng-repeat="todo in todos">
      <input type="text" ng-model="todo" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-danger" ng-click="removeToDo($index)" aria-label="remove">X</button>
      </span>
    </p>
  </div>
</div>